/* Colori */
/* Sidebar-sx */
/* color: #000000; */
/* main-top-content-flex */
/* color:#080b12; */
/* Main-content & navbar */
/* color:#141922; */
/* Footer player */
/* color:#282828; */

/* Font */
/* <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
font-family: 'Noto Sans JP', sans-serif; */
/* /Font */



/* Mediaquery sbagliate! */
/* Al primo avvio il layout è spaccato */


/* RESET PAGINA */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /RESET PAGINA */




/* DEBUGG */
.debug-border{
  border: 1px solid violet;
}

.debug-border-2{
  border:1px solid orange;
}


.debug-bg{
  background-color: violet;
}

*{
  color:#777;
}


.container-sito{
  width: 100vw;
  height: calc(100vh - 100px);
  max-width: 100%;
}

/* Superfluo? */
.sidebar-sx, .container-main{
  height: calc(100vh - 100px); /*Sottrarre altezza fissa footer */
}

.sidebar-sx-content{
  height: 100%;
}

.sidebar-sx-content .main-links{
  height: 300px;
}

.container-sidebar-main{
  width: 100%;
}


.sidebar-sx{
  overflow:hidden;
}

.sidebar-sx .sidebar-profile{
  height: 100px;
}

.container-flex-playlist-profile{
  display: flex;
  height: calc(100% - 200px); /*150px= altezza logo + links + Playlist title*/
  flex-direction:column;
  justify-content: space-between;
  flex-wrap:nowrap;
}


.container-main{
  width: calc(100% - 200px); /* Larghezza definita nelle media query */
  overflow-y: scroll;
}


.main-top-content-flex{
  display: flex;
  flex-direction: row-reverse;
  height: 100px;
  width: 100%;
}

.main-content{
  height: 2000px;
  width: 100%;

}

.player{
  height: 100px;
}

/* DEBUGG */


/* *******  UTILITIES  ***** */
.container-w100{
  width: 100%;
}


/* FLOAT */
/* float elemento a sinistra */
.float-l{
  float:left;
}

.float-r{
  float:right;
}
/* Clearfix per colonne flottanti*/
.clearfix{
  content:"";
  display:table;
  clear:both;
}

/* /FLOAT */

.border-radius-5{
  border-radius: 5px;
}

.bg-white{
  background-color: #fff;
}

.bg-black{
  background-color: #000;
}

.bg-main-dark{
  background-color:#080b12;
}

.bg-main{
  background-color:#141922;
}

.bg-grey{
  background-color:#282828;
}

.bg-transparent{
  background-color: rga(0,0,0,0);
}

.txt-bold{
  font-weight: bold;
}

.txt-left{
 text-align: left;
}

.txt-center{
  text-align: center;
}

.txt-right{
 text-align: right;
}

/* Provvisorio  */
.btn-transparent{
  color: white;
}

.btn-transparent::before{
  content: "";
  width: 60px;
  border-left: 2px solid white;
  border-radius: 50%;

}

.btn-transparent::after{
  content: "";
  width: 60px;
  border-right: 2px solid white;
  border-radius: 50%;

}

/* /Provvisorio */

.disabled{
  opacity: 50%;
}


/* RESET LISTA GENERICO SENZA COLORE*/
.reset-lista ul{
  list-style: none;
}
.reset-lista ul li{
  text-decoration: none;
  text-transform: capitalize;
}
.reset-lista ul li a{
  text-decoration: none;
}

.reset-lista ul li a:hover{
  background-color: rgba(0,0,0,0.1);
  }

.reset-lista.lista-blue ul li a{
  color: #031b4e;
}

.reset-lista.lista-bianco ul li {
  color:white;
}

.reset-lista.lista-bianco ul li a{
  color:#808794;
}

.reset-lista.lista-credits ul li:first-child{
  font-weight: bold;
}

.reset-lista.lista-credits ul li{
  font-weight: normal;
}

.reset-lista.lista-credits ul li a:hover{
  color: #006aff;
}

.reset-lista.lista-icone-24 ul li a img{
  width: 24px;
  height: 24px;
}

.reset-lista.lista-inline ul li{
  display: inline-block;
}

.link-bold a{
  font-weight: bold;
}

/* ****RESET LISTA GENERICO SENZA COLORE */

/* .lista-no-bullets ul{
  list-style: none;
  padding-left: 5px;
} */

.border-grey-left{
  border-left: 1px solid #767695;
}

/* Padding custom di 15px */
.bl-block-h15{
  width: 100%;
  height: 15px;
}

.bl-pad15{
  padding: 15px;
}


/* Classi visibilità */
.hidden-xs{
  display: none;
}

.hidden-sm{
  display: none;
}

.hidden-md{
  display: none;
}

.hidden-lg{
  display: none;
}




/* /Classi visibilità */




/* *******  UTILITIES  ******** */


/********* SIDEBAR-SX ***********/
/* NOTA: NON DARE PADDING DIRETTAMENTE SU SIDEBAR-SX PERCHè ALTRIMENTI NON FUNZIONA
   IL RESPONSIVE IN ALTEZZA! */
.sidebar-sx-content, .main-top-content-flex, .main-content, .footer-content{
  padding: 15px;
}

.sidebar-sx .box-logo{
  width: 100px;
  height: 50px;
}

.sidebar-sx .main-links{
  width: 100px;
  height: 100px;
}

.sidebar-sx .sidebar-playlist-create{
  height: 50px;
}
.sidebar-sx .sidebar-playlist{
  overflow-y: scroll;
}

/********* /SIDEBAR-SX ***********/

/* ******* MAIN-CONTENT ******** */


.main-content .box-albums-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-content .box-albums-flex .album{
  width: calc(100% / 6);
  max-width: 150px;
  padding-right: 5px;
}

.main-content .box-albums-flex .album:last-child{
  padding-right: 0px;
}

.main-content .box-albums-flex .album img{
  width: 100%;

}


/* ******* MAIN-CONTENT ******** */
/* *********** MEDIAQUERY DEVICES ************ */
/* NOTA: Sviluppo con priorità desktop-first */
/* MEDIA- QUERY DA RISCRIVERE AL CONTRARIO */

/* Device extra small (xs) - max width - 768px */
@media screen and (max-width:768px){

  .sidebar-sx{
    min-width: 40px;
    width: 40px;
  }

  .sidebar-sx-content, .main-top-content-flex, .main-content, .footer-content{
    padding: 5px;
  }


  /* .container-main{
    width: calc(100vw - 40px);
  } */

  /* .hidden-xs{
    display: none;
  } */

  .main-content .box-albums-flex .album{
    width: calc(100% / 2);
    max-width: 350px;
    padding-right: 5px;
  }

}
/* Device extra-small (xs) - max width - 768px */

/* inizio sm */
@media screen and (min-width:768px){

  .sidebar-sx{
    width: 200px;
    /* width: 14%; */

  }

  /* .container-main{

    width: calc(100vw - 200px);
  } */

  .main-content .box-albums-flex .album{
    width: calc(100% / 2);
    max-width: 500px;
    padding-right: 5px;
  }



}

/* inizio md */
@media screen and (min-width:992px){

  .main-content .box-albums-flex .album{
    width: calc(100% / 4);
    max-width: 500px;
    padding-right: 5px;
  }

}



/* inizio lg */
@media screen and (min-width:1200px){

  /* MEDIA QUERY SUPERFLUA */
  .main-content .box-albums-flex .album{
    width: calc(100% / 6);
    max-width: 200px;
    padding-right: 5px;
  }


}







/* *********** MEDIAQUERY DEVICES ************ */
