/* Colori */
/* Sidebar-sx */
/* color: #000000; */
/* main-top-content-flex */
/* color:#080b12; */
/* Main-content & navbar */
/* color:#141922; */
/* Footer player */
/* color:#282828; */



/* RESET PAGINA */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Font default */
  font-family: 'Noto Sans JP', sans-serif;
}
/* /RESET PAGINA */




/* DEBUGG */
.debug-border{
  border: 1px solid violet;
}

.debug-border-all *{
  border: 1px solid violet;
}

.debug-border-img img{
  border: 1px solid violet;
}
.debug-border-span span{
  border: 1px solid violet;
}

.debug-border-2{
  border:1px solid orange;
}


.debug-bg{
  background-color: violet;
}

.sidebar-sx, .main-content{
  /* Colore default testo */
  color:#777;
}


.container-sito{
  width: 100vw;
  height: calc(100vh - 100px);
  max-width: 100%;
}

/* Superfluo? */
.sidebar-sx, .container-main{
  height: calc(100vh - 90px); /*Sottrarre altezza fissa footer */
}

.sidebar-sx-content:first-child{
  height: calc(100% - 100px); /* Sottrarre alteza area profilo */
  min-height: 300px;
  overflow-y: hidden;
}

.main-links{
  height: 300px;
  margin-bottom:30px;
}

.main-links ul li{
  margin-bottom: 10px;
}

.main-links ul li span{
  display: inline-block;
  line-height: 24px; /* altezza pari ad altezza icona */
}


.main-links ul li:first-child::before{
  position: relative;
  content:"";
  display: inline-block;
  top:15px;
  left:-11px;
  height: 35px;
  border: 2px solid #adff2f;

}

/* Work around - in sito finale, trovare soluzione alternativa */
.main-links ul li:first-child{
  position: relative;
  left: -4px;
  /* lo spessore del bordo verdolino, sposta anche l'elemento della lista */
}



.main-links ul li img{
  /* Allineamento rispetto al testo lista */
  position: relative;
  bottom:2px;
  margin-right: 5px;
  vertical-align: middle;

}

.container-sidebar-main{
  width: 100%;
}


.sidebar-sx{
  overflow:hidden;
}


.sidebar-sx .sidebar-profile{
  height: 70px; /* 100px -30px padding */
}

.sidebar-sx .sidebar-profile ul li{
  padding: 10px 0;
}

.sidebar-sx .sidebar-profile ul li i{
  margin-right: 10px;
}

.sidebar-sx .sidebar-profile .install-app{
  font-size: 12px;
  border-bottom: 2px solid #777;
}

.sidebar-sx .sidebar-profile .account a{
  color:white;
  font-weight: bold;
}


.container-main{
  width: calc(100% - 230px); /* Larghezza definita nelle media query */
  overflow-y: auto;
}


.main-top-content-fixed{
  position: fixed;
  height: 90px;
  width: calc(100% - 230px);

}

.main-content{
  width: 100%;
  margin-top: 90px; /*Altezza fixed area "effettua upgrade"*/

}

footer{
  height: 90px;
  width: 100vw;
  max-width: 100%;
}


/* DEBUGG */


/* *******  UTILITIES  ***** */
.container-w100{
  width: 100%;
}


/* FLOAT */
/* float elemento a sinistra */
.float-l{
  float:left;
}

.float-r{
  float:right;
}
/* Clearfix per colonne flottanti*/
.clearfix{
  content:"";
  display:table;
  clear:both;
}

/* /FLOAT */

.display-none{
  display: none;
}

.scale1-2{
  transform: scale(1.2);
}

.scale1-5{
  transform: scale(1.5);
}

.scale4{
  transform: scale(4);
}

.scale8{
  transform: scale(8);
}

.scale6{
  transform: scale(6);
}

.scale16{
  transform: scale(16);
}

.border-radius-5{
  border-radius: 5px;
}

.bg-white{
  background-color: #fff;
}

.bg-black{
  background-color: #000;
}

.bg-main-dark-transparent{
  background-color: rgba(8,11,18,0.5) /*#080b12;*/
}



.bg-main{
  background-color:#141922;
}

.bg-grey{
  background-color:#282828;
}

.bg-transparent{
  background-color: rga(0,0,0,0);
}



.txt-bold{
  font-weight: bold;
}

.txt-left{
 text-align: left;
}

.txt-center{
  text-align: center;
}

.txt-right{
 text-align: right;
}

/* Provvisorio  */
.btn-transparent{
  position: relative;
  bottom: 2px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

/*
.btn-transparent::before{
  content: "";
  width: 60px;
  border-left: 2px solid white;
  border-radius: 50%;

}

.btn-transparent::after{
  content: "";
  width: 60px;
  border-right: 2px solid white;
  border-radius: 50%;

} */

/* /Provvisorio */

.disabled{
  opacity: 50%;
}

/* LINK PERSONALIZZAZIONE */
.link-style1, .link-style1-all a{
  color:#777;
  text-decoration: none;
  font-weight: bold;
}
.link-style1:hover, .link-style1-all a:hover{
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  text-decoration: none;
}

/* Animazione alternativa su icone */
.link-style1:hover img{
  box-shadow: 0px 0px 30px rgba(173,255,47,0.5);
  border-radius: 5px;
}

.link-style1-all .bg-icon-36-grey:hover{
  background-color: white;
  color: black;
}




/* LINK PERSONALIZZAZIONE */


/* RESET LISTA GENERICO SENZA COLORE*/
.reset-lista ul{
  list-style: none;
}
.reset-lista ul li{
  text-decoration: none;
  text-transform: capitalize;
}
.reset-lista ul li a{
  text-decoration: none;
}

.reset-lista ul li a:hover{
  background-color: rgba(0,0,0,0.1);
  }

.reset-lista.lista-blue ul li a{
  color: #031b4e;
}

.reset-lista.lista-bianco ul li {
  color:white;
}

.reset-lista.lista-bianco ul li a{
  color:#808794;
}

.reset-lista.lista-credits ul li:first-child{
  font-weight: bold;
}

.reset-lista.lista-credits ul li{
  font-weight: normal;
}

.reset-lista.lista-credits ul li a:hover{
  color: #006aff;
}

.reset-lista.lista-icone-24 ul li a img{
  width: 24px;
  height: 24px;
}

.reset-lista.lista-inline ul li{
  display: inline-block;
}

.link-bold a{
  font-weight: bold;
}

/* ****RESET LISTA GENERICO SENZA COLORE */

/* .lista-no-bullets ul{
  list-style: none;
  padding-left: 5px;
} */

.border-grey-left{
  border-left: 1px solid #767695;
}

/* Padding custom di 15px */
.bl-block-h15{
  width: 100%;
  height: 15px;
}

.bl-pad15{
  padding: 15px;
}

.bg-icon-36-grey{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #a3a3a3;
  color:black;

}




/* *******  UTILITIES  ******** */


/********* SIDEBAR-SX ***********/
/* NOTA: NON DARE PADDING DIRETTAMENTE SU SIDEBAR-SX PERCHè ALTRIMENTI NON FUNZIONA
   IL RESPONSIVE IN ALTEZZA! */
.sidebar-sx{
  width: 230px;
}

.sidebar-sx-content, .main-top-content-fixed, .main-content, .footer-content-flex{
  padding: 15px;
}

.sidebar-sx-content{
  font-size: 14px;
}


.sidebar-sx .box-logo{
  width: 100%;
  height: 90px;
}

.sidebar-sx .box-logo img{
  width: 140px;
}

.sidebar-sx .main-links{
  /* width: 100px; */
  height: 120px;
}


.sidebar-sx .sidebar-playlist{
  height: calc(100% - 150px); /* Sottrai logo e box-playlist */
  min-height: 50px;
  max-height: 500px;
  overflow-y: auto;
  /* TODO: scroll dimensioni giuste */
}

.sidebar-sx .sidebar-playlist ul li:first-child{
  color:white;
  font-weight: bold;
}

.sidebar-sx .sidebar-playlist ul li{
  margin-bottom: 15px;
}

.sidebar-sx .sidebar-playlist [class*="icon"]{
  margin-right: 5px;
}



/********* /SIDEBAR-SX ***********/

/* ******* MAIN-TOP-CONTENT-FIXED ******** */

/* Centra bottone */
.btn-container {
  margin-top: 5px;
}

/* Animazione bottone "Effettua upgrade" */
.btn-container:hover .btn-left, .btn-container:hover .btn-center, .btn-container:hover .btn-right {
  transform: scale(1.1);
}


.main-top-content-fixed .btn-left, .main-top-content-fixed .btn-right{
  display: inline-block;
  content: " ";
  height: 40px;
  width: 30px;
  border: 1px solid white;
  color: #080b12;
}

.main-top-content-fixed .btn-left{

  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: translate(+50%);
  border-right: 0px;
  line-height: 40px;
}

.main-top-content-fixed .btn-right{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: translate(-50%);
  border-left: 0px;
  line-height: 40px;
}

.main-top-content-fixed .btn-center{
  display: inline-block;
  height: 40px;
  width: 200px;
  line-height: 40px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* ******* MAIN-TOP-CONTENT-FIXED ******** */


/* ******* MAIN-CONTENT ******** */


/* NAVBAR */
.main-navbar-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
}

.main-navbar-flex li{
  padding-right: 15px;
}

.main-navbar-flex li a{
  text-transform: uppercase;
}

.main-navbar-flex li:first-child::after{
  position: relative;
  content:"";
  display: inline-block;
  bottom:5px;
  transform: translate(-50%);
  left:50%;
  height: 0px;
  width: 25%;
  border: 2px solid #adff2f;

}
/* /NAVBAR */

.main-content section{
  margin-bottom: 30px;
}

.main-content .sec-recently-played h2{
  margin-bottom: 30px;
}

.main-content h2{
  font-size: 24px;
  color: white;
  padding-bottom:10px;
}

.main-content h3{
  font-size: 12px;
  padding-bottom:25px;
}


.main-content .box-albums-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}



.main-content .box-albums-flex .album{
  width: calc((100% / 6) - (15px / 6) * 5); /* Nota: un margine ogni sei non deve essere conteggiato */
  /* max-width: 150px; */
  margin-right: 15px;
}

/* Elimina margine sugli elementi che chiudono la riga */
.main-content .box-albums-flex .album:nth-child(6n){
  margin-right:0px;
}




.box-albums-flex .album .title{
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

.box-albums-flex .album .author{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;

}

.box-albums-flex .album .img-container{
  position: relative;
}

.box-albums-flex .album img{
  position: relative;
  width: 100%;
}

.box-albums-flex .album .img-container .overlay-bg{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
}

.box-albums-flex .album .img-container .overlay-play{
  position: absolute;
  display: none;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);


}

.box-albums-flex .album .img-container:hover .overlay-bg{
  background-color: rgba(0,0,0,0.5);
}

.box-albums-flex .album .img-container:hover .overlay-play{
  display: unset;
  color: rgba(255,255,255,1);
}

.box-albums-flex.box-circle .album img{
  border-radius: 50%;
}

.box-albums-flex.box-circle  .album .img-container .overlay-bg{
  border-radius: 50%;
}


/* ******* MAIN-CONTENT ******** */


/* ********** FOOTER CONTENT ************ */
.footer-content-flex{
  display: flex;
  justify-content: space-between;
}

.player-box-left, .player-box-center, .player-box-right{
  color:white;
  width: 400px;
  height: 70px;;
}

/* ********** /FOOTER CONTENT ************ */







/* *********** MEDIAQUERY DEVICES ************ */
/* NOTA: Sviluppo con priorità desktop-first */
/* MEDIA- QUERY DA RISCRIVERE AL CONTRARIO */


/* Classi visibilità */

/* HIDDEN */
.my-hidden-lg{
  display: none !important;;
}
/* /HIDDEN */

/* ONLY visible */
.my-only-visible-lg{
  display: unset;
}
.my-only-visible-md{
  display: none;
}
.my-only-visible-sm{
  display: none;
}
.my-only-visible-xs{
  display: none;
}
/* /ONLY visible */

/* VISIBLE */
.my-visible-lg{
  display: unset;
}
.my-visible-md{
  display: unset;
}
.my-visible-sm{
  display: unset;
}
.my-visible-xs{
  display: unset;
}
/* /VISIBLE */
/* /Classi visibilità */

/* Debug help */
.container-sito::before{
  position: absolute;
  display: block;
  color: violet;
  content: "lg";
}

/* inizio md */
@media screen and (max-width:991px){
  /* CLASSI VISIBILITA' */

  /* HIDDEN */
  .my-hidden-md{
    display: none !important;;
  }
  /* /HIDDEN */

  /* ONLY visible */
  .my-only-visible-lg{
    display: none;
  }
  .my-only-visible-md{
    display: unset;
  }
  .my-only-visible-sm{
    display: none;
  }
  .my-only-visible-xs{
    display: none;
  }
  /* /ONLY visible */

  /* VISIBLE */
  .my-visible-lg{
    display: none;
  }
  .my-visible-md{
    display: unset;
  }
  .my-visible-sm{
    display: unset;
  }
  .my-visible-xs{
    display: unset;
  }
  /* /VISIBLE */
  /* /CLASSI VISIBILITA' */

  .main-content .box-albums-flex .album{
    width: calc((100% / 4) - (15px / 4) * 3); /* Nota: un margine ogni quattro non deve essere conteggiato */
    /* max-width: 150px; */
    margin-right: 15px;
  }
  .main-content .box-albums-flex .album:nth-child(4n){
    margin-right: 0px;
  }


  /* Debug help */
  .container-sito::before{
    position: absolute;
    display: block;
    color: violet;
    content: "md";
  }


}

/* inizio sm */
@media screen and (max-width:767px){
  /* CLASSI VISIBILITA' */

  /* HIDDEN */
  .my-hidden-sm{
    display: none !important;;
  }
  /* /HIDDEN */

  /* ONLY visible */
  .my-only-visible-lg{
    display: none;
  }
  .my-only-visible-md{
    display: none;
  }
  .my-only-visible-sm{
    display: unset;
  }
  .my-only-visible-xs{
    display: none;
  }
  /* /ONLY visible */

  /* VISIBLE */
  .my-visible-lg{
    display: none;
  }
  .my-visible-md{
    display: none;
  }
  .my-visible-sm{
    display: unset;
  }
  .my-visible-xs{
    display: unset;
  }
  /* /VISIBLE */
  /* /CLASSI VISIBILITA' */

  .main-content .box-albums-flex .album{
    width: calc((100% / 2) - (15px / 2) * 1); /* Nota: un margine ogni quattro non deve essere conteggiato */
    /* max-width: 150px; */
    margin-right: 15px;
  }
  .main-content .box-albums-flex .album:nth-child(2n){
    margin-right: 0px;
  }

  /* Debug help */
  .container-sito::before{
    position: absolute;
    display: block;
    content: "sm";
    color: violet;
  }

}


/* inizio xs */
@media screen and (max-width:575px){

  /* CLASSI VISIBILITA' */
  /* HIDDEN */
  .my-hidden-xs{
    display: none !important;
  }
  /* /HIDDEN */

  /* ONLY visible */
  .my-only-visible-lg{
    display: none;
  }
  .my-only-visible-md{
    display: none;
  }
  .my-only-visible-sm{
    display: none;
  }
  .my-only-visible-xs{
    display: unset;
  }
  /* /ONLY visible */

  /* VISIBLE */
  .my-visible-lg{
    display: none;
  }
  .my-visible-md{
    display: none;
  }
  .my-visible-sm{
    display: none;
  }
  .my-visible-xs{
    display: unset;
  }
  /* /VISIBLE */
  /* /CLASSI VISIBILITA' */

  .sidebar-sx{
    /* min-width: 40px; */
    width: 40px;
  }


  .sidebar-sx .sidebar-profile ul li:first-child{
    border-bottom: 0;
  }

  .container-main, .main-top-content-fixed{
    width: calc(100% - 40px);
  }




  /* Debug help */
  .container-sito::before{
    position: absolute;
    display: block;
    content: "xs";
    color: violet;
  }


  /* .container-main{

    width: calc(100vw - 200px);
  } */

  .sidebar-sx-content, .main-top-content-fixed, .main-content, .footer-content-flex{
    padding: 5px;
  }



}









/* *********** MEDIAQUERY DEVICES ************ */
